{% extends "base.html" %}

{% block content %}
<div class="p-4 bg-light rounded">
    <h1>Lab Tech Dashboard</h1>
    <p>Manage patients, tests, and lab reports from one place.</p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Patients</h5>
                <a href="{% url 'patients'%}" class="card-text"> Patients records.</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Tests</h5>
                <a href="{% url 'tests' %}" class="card-text"> lab tests.</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Reports</h5>
                <a href="{% url 'reports' %}" class="card-text">Generate and view lab reports.</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}