{% extends "base.html" %}

{% block content %}
<h2>Lab Reports</h2>

<div class="card p-3 mb-4">
    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-4">
                <select name="patient" class="form-select">
                    <option value="">Select Patient</option>
                    {% for patient in patients %}
                    <option value="{{ patient.id }}">{{ patient.full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <select name="test" class="form-select">
                    <option value="">Select test</option>
                    {% for test in tests %}
                    <option value="{{ test.id }}">{{ test.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12">
                <textarea name="result" class="form-control" placeholder="result"></textarea>
            </div>
            <div class="col-md-12">
                <textarea name="date_conducted" class="form-control" placeholder="Date"></textarea>
            </div>
            <div class="col-md-12">
                <button class="btn btn-warning">Create Report</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Test</th>
            <th>result</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.patient.full_name }}</td>
            <td>{{ report.test.name }}</td>
            <td>{{ report.result }}</td>
            <td>{{ report.report_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}